<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.beatrace.mybatis.mapper.UserMapper">

    <!--int insertUser();-->
    <insert id="insertUser">
        insert into t_user values(null, "beatrace", "356",24,'m',"475893@qq.com")
    </insert>

    <!--List<User> selectAll();-->
    <select id="selectAll" resultType="org.beatrace.mybatis.pojo.User">
        select * from t_user
    </select>

</mapper>
